@model IEnumerable<MicroBusiness.Models.OrderItem>


@{
    ViewBag.Title = "OrderItem";
}

<h1>Database</h1>

<form asp-action = "Index" method="get">
    <div class = "form-actions no-color">
        <P>
            <select class = "form-control" id="orderList" name="orderList">
                <option>Select data</option>
                <option value = "Customer">Customer</option>
                <option value = "Order">Order</option>
                <option value = "OrderItem">OrderItem</option>
                <option value = "Product">Product</option>
                <option value = "Supplier">Supplier</option>
            </select>
            
            
            <input type = "Submit" value = "SUBMIT" class = "btn btn-default"/> |
            <a asp-action ="OrderItem">Back to Full List</a>
        </P>
    </div>
</form>

@* <form asp-action = "OrderItem" method="get">
    <div class = "form-actions no-color">
        <P>
            Find by Name: <input type ="text" name="SearchString" value="@ViewData["currentFilter"]"/>       
            <input type = "Submit" value = "Search" class = "btn btn-default"/> |
            <a asp-action ="OrderItem">Back to Full List</a>
        </P>
    </div>
</form> *@

<table class = "table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderId) <a asp-action = "OrdrerItem" asp-route-sortOrder = "@ViewData["FirstNameSortParm"]">&#8645</a> 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductId) 
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice) 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity) 
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
        </tr>
        
    }
</table>